<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% for item in site.menu %}
          {% if item.sub %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ item.label }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for sub in item.sub %}
              <a class="dropdown-item" href="{{ sub.link | relative_url }}">{{ sub.label }}</a>
              {% endfor %}
            </div>
          </li>
          {% else %}
          <li class="nav-item {% if page.title == item.label %}active{% endif %}">
            <a class="nav-link" href="{{ item.link | relative_url }}">{{ item.label }}</a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
