<div class="card-columns" id="publications">
  {% for publication in site.data.publications %}
  <div class="card" id="publication-card" data-toggle="modal" data-target="#publication-{{ publication.pid }}">
    {% if publication.url %}
    <img src="{{publication.url}}" alt="Cover of {{publication.Title}}" class="card-img">
    {% else %}
    <div class="card-body text-center">
      <h1 class="card-title">{{ publication.Title }}</h1>
      <h2 class="card-subtitle text-muted">{{ publication.Name }}</h2>
    </div>
    {% endif %}
  </div>

  <!-- Modal -->
  <div class="modal fade" id="publication-{{ publication.pid }}" tabindex="-1" role="dialog" aria-labelledby="{{ publication.Name }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">{{ publication.Name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="media">
            {% if publication.url %}
            <img class="mr-3" src="{{publication.url}}" alt="Cover of {{publication.Title}}">
            {% endif %}
            <div class="media-body">
              <h5 class="mt-0">{{ publication.Title }}{% if publication.Year %} <small class="text-muted">({{ publication.Year }})</small>{% endif %}</h5>
              {% if publication.StyleCat %}
                <a class="text-dark" id="style-cat" href="{{ publication.StyleCat }}" target="_blank"><small>Find in the FIT Library <i class="fas fa-external-link-alt"></i></small></a>
              {% endif %}
              <a></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
