---
---

// start content
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 88px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
header .logo img {
  height: 100px;
  max-width: 100%;
}
.navbar-brand img {
  height: 30px;
}
// Featured Authors
#featured-authors.card-columns {
  column-count: 4;
}
#featured-authors .card .card-img-overlay {
  background-color: rgba(0,0,0,.7);
  transition: .5s ease;
  opacity: 1;
  color: #fff;
}
#featured-authors .card:hover .card-img-overlay {
  opacity: 0;
  color: #fff0;
}
#featured-authors .card .card-img-overlay h1 {
  font-size: 4rem;
}
// Authors
#author-card {
  flex: 0 0 calc((100% / 5) - 30px);
  margin-bottom: 30px;
  min-height: 120px;
  cursor: pointer;
}
#author-card i {
  font-size: 7rem;
}
.modal .media img {
  max-height: 200px;
}
.modal .media #style-cat i {
  vertical-align: bottom;
}
