---
---

// start content
@import url('fonts/halyard.css');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: "Halyard Micro",sans-serif;
  margin-bottom: 184px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Halyard Text",sans-serif;
  font-weight: 700;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
header .logo img {
  height: 100px;
  max-width: 100%;
}
.navbar-brand img {
  height: 30px;
}
// Home
#more-events {
  margin-top: -1.5rem;
  margin-bottom: 3rem;
}
// Featured Authors
@media (min-width: 1200px) {
  #featured-authors.card-columns {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
  }
}
@media (min-width: 768px) {
  #featured-authors {
    column-gap: 3rem;
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
  }
  #featured-authors .card {
    margin-bottom: 3rem;
  }
}
#featured-authors .card .card-img-overlay {
  background-color: rgba(0,0,0,.2);
  transition: .5s ease;
  opacity: 1;
  color: #fff;
  overflow: hidden;
}
#featured-authors .card .card-img-overlay h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
@media (min-width: 576px) {
  #featured-authors .card .card-img-overlay h1 {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  #featured-authors .card .card-img-overlay h1 {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  #featured-authors .card .card-img-overlay h1 {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  #featured-authors .card .card-img-overlay h1 {
    font-size: 2.25rem;
  }
}
// Profiles
#author-block, #work-block, #interview-block {
  border-bottom: 1px solid rgba(0,0,0,.125);
}
#author-name p, #author-name ul {
  margin-left: .25rem;
}
#author-block .nav .nav-link:first-of-type {
  padding-left: .15rem;
}
// Publications
#publications.card-columns {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-gap: 1.25rem;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
}
#publications.card-columns #publication-card {
  margin-bottom: 1.25rem;
  cursor: pointer;
}
#publications.card-columns #publication-card .card-title {
  font-size: 1rem;
}
#publications.card-columns #publication-card .card-subtitle {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  #publications.card-columns {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-gap: 3rem;
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
  }
  #publications.card-columns #publication-card {
    margin-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  #publications.card-columns {
    column-count: 5;
    -webkit-column-count: 5;
    -moz-column-count: 5;
  }
}
#publications .modal .media img {
  max-width: 150px;
}
#publications .modal .description.collapse:not(.show) {
  display: block;
  height: 6rem !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
#publications .modal .description.collapsing {
  height: 6rem;
}
#publications .modal #description-button {
  cursor: pointer;
  margin-top: -1rem;
}
#publications .modal #description-button a[aria-expanded="false"]::after {
  content: 'Show More';
}
#publications .modal #description-button a[aria-expanded="true"]::after {
  content: 'Show Less';
}
// Events
#event-slide {
  border: 1px solid rgba(0,0,0,.125);
}
#map-button {
  cursor: pointer;
  font-size: 1rem;
}
#profile-button {
  font-size: 1rem;
  vertical-align: middle;
}
