---
layout: default
---
  <div class="row align-items-center justify-content-center">
    <div class="col-md-8">
      <h1 class="mb-4 text-center">
        {{page.author}}
        {% assign profile = site.profiles | where: "name", page.author | first %}
        {% if profile %}
          <a id="profile-button" class="text-muted" aria-label="Author Profile" href="{{profile.url}}">
            <i aria-hidden class="fas fa-user" title="Author Profile"></i>
          </a>
        {% endif %}
      </h1>
      {% if page.image %}
      <img class="img-fluid rounded" src="/assets/images/{{page.image}}" alt="{{page.author}} Event Image" />
      {% endif %}
      <p class="font-italic">{{page.description}}</p>
      <p class="lead text-center my-5">
        {{page.date | date: "%A, %B %d, %Y" }} | {{page.time}}<br>
        {{page.location}}
        {% if page.map %}
        <!-- Map Button -->
        <a class="text-muted" id="map-button" aria-label="Map" data-toggle="modal" data-target="#mapModal">
          <i aria-hidden class="fas fa-map" title="Map"></i>
        </a>
        <!-- Map Modal -->
        <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="mapModalTitle">{{page.location}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="embed-responsive embed-responsive-1by1">
                  {{page.map}}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </p>

      <p>{{page.content}}</p>
    </div>
  </div>
