---
layout: default
---
<div class="row align-items-center mb-5 pb-5" id="author-block">
  <div class="col-md-2" id="author-image">
    {% if page.image %}
    <img class="img-fluid rounded mb-3 mb-md-0" src="/assets/images/{{page.image}}" alt="Portrait of {{page.name}}" />
    {% endif %}
  </div>
  <div class="col-md-auto" id="author-name">
    {% if page.title %}
    <p class="mb-0">{{page.title}}</p>
    {% endif %}
    <h1>{{page.name}}</h1>
    <ul class="list-unstyled text-muted small mb-0">
      {% if page.division %}
      <li>{{page.division}}</li>
      {% endif %}
      {% if page.department %}
      <li>{{page.department}}</li>
      {% endif %}
      <li>
        <nav class="nav">
          {% if page.email %}
          <a class="nav-link text-muted" aria-label="Email" href="mailto:{{page.email}}" target="_blank">
            <i aria-hidden class="fas fa-envelope" title="Email"></i>
          </a>
          {% endif %}
          {% if page.website %}
          <a class="nav-link text-muted" aria-label="Homepage" href="{{page.website}}" target="_blank">
            <i aria-hidden class="fas fa-home" title="Homepage"></i>
          </a>
          {% endif %}
          {% if page.twitter %}
          <a class="nav-link text-muted" aria-label="Twitter" href="https://twitter.com/{{page.twitter}}"
            target="_blank">
            <i aria-hidden class="fab fa-twitter" title="Twitter"></i>
          </a>
          {% endif %}
          {% if page.bluesky %}
          <a class="nav-link text-muted" aria-label="Bluesky" href="https://bsky.app/profile/{{page.bluesky}}"
            target="_blank">
            <svg title="bluesky" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
              style="width: .8rem; height: .8rem; vertical-align: -0.125rem;">
              <!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
              <path fill="currentColor"
                d="M111.8 62.2C170.2 105.9 233 194.7 256 242.4c23-47.6 85.8-136.4 144.2-180.2c42.1-31.6 110.3-56 110.3 21.8c0 15.5-8.9 130.5-14.1 149.2C478.2 298 412 314.6 353.1 304.5c102.9 17.5 129.1 75.5 72.5 133.5c-107.4 110.2-154.3-27.6-166.3-62.9l0 0c-1.7-4.9-2.6-7.8-3.3-7.8s-1.6 3-3.3 7.8l0 0c-12 35.3-59 173.1-166.3 62.9c-56.5-58-30.4-116 72.5-133.5C100 314.6 33.8 298 15.7 233.1C10.4 214.4 1.5 99.4 1.5 83.9c0-77.8 68.2-53.4 110.3-21.8z" />
            </svg>
          </a>
          {% endif %}
          {% if page.instagram %}
          <a class="nav-link text-muted" aria-label="Instagram" href="https://www.instagram.com/{{page.instagram}}"
            target="_blank">
            <i aria-hidden class="fab fa-instagram" title="Instragram"></i>
          </a>
          {% endif %}
          {% if page.facebook %}
          <a class="nav-link text-muted" aria-label="Facebook" href="https://www.facebook.com/{{page.facebook}}"
            target="_blank">
            <i aria-hidden class="fab fa-facebook" title="Facebook"></i>
          </a>
          {% endif %}
          {% if page.linkedin %}
          <a class="nav-link text-muted" aria-label="LinkedIn" href="{{page.linkedin}}" target="_blank">
            <i aria-hidden class="fab fa-linkedin" title="LinkedIn"></i>
          </a>
          {% endif %}
        </nav>
      </li>
    </ul>
  </div>
</div>
<div class="row justify-content-between align-items-center mb-5 pb-5" id="work-block">
  <div class="col-md-7">
    {% if page.work.title %}
    <h2>
      {{page.work.title}}
      {% if page.work.subtitle %}
      <br><small class="text-muted">{{page.work.subtitle}}</small>
      {% endif %}
    </h2>
    {% endif %}
    {% if page.work.co-author %}
    <p class="font-italic">Co-Author: {{page.work.co-author}}</p>
    {% endif %}
    {% if page.work.summary %}
    {{page.work.summary | markdownify}}
    {% endif %}
    <ul class="nav mb-3 mb-md-0">
      {% if page.work.fit-url %}
      <li class="nav-item">
        <a class="nav-link text-muted p-0 mr-5" href="{{ page.work.fit-url }}" target="_blank"><small>Find in the FIT
            Library <i class="fas fa-external-link-alt"></i></small></a>
      </li>
      {% endif %}
      {% if page.work.website %}
      <li class="nav-item">
        <a class="nav-link text-muted p-0" href="{{ page.work.website }}" target="_blank"><small>Visit official website
            <i class="fas fa-external-link-alt"></i></small></a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="col-md-4">
    {% if page.work.image %}
    <img class="img-fluid rounded" src="/assets/images/{{page.work.image}}" alt="Cover of {{page.work.title}}" />
    {% endif %}
    {% if page.work.video %}
    <div class="embed-responsive embed-responsive-4by3">
      <iframe class="embed-responsive-item" src="{{page.work.video}}" allowfullscreen></iframe>
    </div>
    {% endif %}
  </div>
</div>
<div class="row align-items-center justify-content-between" id="interview-block">
  <div class="col-md-7">
    {{ content }}
  </div>
  <div class="col-md-4">
    <ul class="lead mb-0 pl-md-0">
      {% for item in page.about %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% if page.event_youtube_id %}
<div class="row align-items-center justify-content-between mt-5 pt-5" id="event-block">
  <div class="col-12">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{page.event_youtube_id}}"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endif %}